body{
    padding:0;
    margin:0;
    background-color: rgb(194, 187, 187);
   

}
*{
    box-sizing: border-box;
}
.container{
    padding-top:5%;
    background-color: white;
    width:95%;
    margin:auto;
    margin-top:5%;
    border:3px solid rgb(74, 68, 68);
}
.container .main{
    width:100%;
    height:80vh;
    display: flex;
    
}
.container .image{
    width:50%;
    height:100%;
}
.container .image img{
    width:80%;
    height:80%;
    transition:filter 0.5s ease-in-out;
}

.container .image:hover img{
    filter:brightness(80%);
    filter:contrast(80%);
}
.container .main .content{
    height:80%;
    width:50%;
    display: flex;
    flex-direction: column;
    gap:33%;
    
   
    

}
.container .content form{
    width:100%;
}

.container .content form input{
    width:50px;


}
.container .content h1{
    width:100%;   
    border-bottom:1px solid rgb(126, 120, 120);
}
.container .content h2{
    color:red;
}
table,th,td{
    border:1px,solid;
    
}
.container table{
    width:100%;
    background-color: white;
    height:auto;
}

.container h1.specs{
    width:100%;
    padding-top:2%;
    display: block;
    text-align: center;
    background-color: white;
    border:1px solid rgb(74, 68, 68);
    padding-bottom:2%;
}
